/* Basic stylesheet template */

:root {
    --primary-color: #0078d7
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

main {
    flex: 1;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

aside {
    float: right;
}

#container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 60px;
}

/*#game-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}*/

#top-container, #bottom-container {
    text-align: center;  
}

#top-container {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#top-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#bottom-container {
    max-width: 100%;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
    width: clamp(200px, 48%, 400px);
}

#backBtn {
    width: 100%;
}

button:hover {
    background-color: #005bb5;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#diceContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 2rem 0;
}

.die {
    width: clamp(50px, 2vw, 50px);
    height: clamp(50px, 2vw, 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 24px;
    background-color: white;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.die:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.selected {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.scored {
    background-color: #6b6b6b;
    color: white;
    border-color: #6b6b6b;
}

.flex-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.flex-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

select {
    font-size: 1.2rem;
}

select > option {
    font-size: 1.3rem;
}

.player-select-container {
    width: 45%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.player-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#playerContainer, #scoreContainer {
    margin: 1rem 0;
    text-align: center;
}

#scoreContainer {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


#playersScoresContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1rem;
    font-size: 1.1em;
}

.player-score {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
}

.slidecontainer {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

.hidden {
    display: none;
}

.realistic-roll-animation {
    animation: realistic-roll 1s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

@keyframes realistic-roll {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(90deg) scale(1.1);
    }

    50% {
        transform: rotate(180deg) scale(0.9);
    }
}

/* Media Queries */
@media (max-width: 768px) {
    main {
        padding: 0.5rem;
    }

    #container {
        padding: 1rem;
    }

    .die {
        font-size: 20px;
    }

    button {
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {

    .flex-box {
        flex-direction: column;
        gap: 1rem;
        display: contents;
    }

    #diceContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-items: center;
        margin: 2rem auto;
    }

    .die {
        width: 70px;
        height: 70px;
        font-size: 18px;
        margin: 0;
    }

    button, .player-select-container {
        width: 100%; /* Set a consistent width for buttons */
    }

    button {
        font-size: 1rem;
    }

    .game-status {
        width: 100%;
    }

    #rollBtn {
        margin-bottom: 1rem;
    }

    #endTurnBtn {
        margin-top: 1rem;
    }

}